[Unit]
Description=Aktualizr, SOTA client written in C++
Wants=network-online.target
After=network.target network-online.target rvi.service
Requires=network-online.target

[Service]
RestartSec=5
Restart=on-failure
TimeoutStopSec=5
User=aktualizr
ExecStartPre=/bin/echo "Loading, please wait..."
ExecStartPre=/bin/sleep 45
ExecStart=/usr/bin/aktualizr --config /etc/sota.toml

[Install]
WantedBy=multi-user.target
