[Unit]
Description=Genivi Software Loading Manager
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
Environment=PYTHONPATH=/usr/lib/genivi-swm/common/
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
Environment=SLM_PACKAGE_MANAGER=rpm
Environment=SLM_SWM_SIMULATION=false
ExecStart=/usr/bin/python /usr/lib/genivi-swm/software_loading_manager/software_loading_manager.py fg

[Install]
WantedBy=multi-user.target
