[Desktop Entry]
Name=Audio Manager
Type=Application
Icon=file://usr/share/gdp/hmi_icons_033115-3.png
Unit=AudioManager_Monitor
Exec=/usr/bin/AudioManagerMonitor -platform wayland
