[Unit]
Description=SOTA Client
Wants=network-online.target
After=network.target network-online.target rvi.service
Requires=network-online.target

[Service]
RestartSec=5
Restart=on-failure
Environment="RUST_LOG=info"
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
TimeoutStopSec=5
ExecStartPre=/bin/sleep 45
ExecStart=/usr/bin/sota_client --config /etc/sota.toml

[Install]
WantedBy=multi-user.target
