[Desktop Entry]
Name=Browser
Type=Application
Icon=file://usr/share/gdp/hmi_icons_033115-4.png
Unit=demoui
Exec=/opt/demoui/bin/demoui -platform wayland
