[Unit]
Description=GENIVI Development Platform HMI - Controller
Requires=dbus.service
After=weston.service
Wants=gdp-hmi-panel.service

[Service]
ExecStart=/usr/bin/gdp-hmi-controller
Restart=always
RestartSec=2
TimeoutStopSec=1
