[Unit]
Description=GENIVI Demo Platform HMI - Launcher 2
Requires=gdp-hmi-controller.service gdp-hmi-background.service gdp-hmi-panel.service

[Service]
Environment=LD_PRELOAD=/usr/lib/libEGL.so
ExecStart=/usr/bin/gdp-hmi-launcher2
