[Unit]
Description=Genivi Start Launcher service
Requires=dbus.service
After=AudioManager.service pulseaudio.service

[Service]
ExecStart=/usr/bin/start_launcher.sh
