[submodule "meta-genivi-demo"]
	path = meta-genivi-demo
	url = http://git.projects.genivi.org/meta-genivi-demo.git
[submodule "meta-ivi"]
	path = meta-ivi
	url = http://git.yoctoproject.org/git/meta-ivi
[submodule "meta-qt5"]
	path = meta-qt5
	url = git://github.com/meta-qt5/meta-qt5.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-renesas"]
	path = meta-renesas
	url = git://github.com/slawr/meta-renesas.git
