[submodule "meta-ivi"]
	path = meta-ivi
	url = http://github.com/genivi/meta-ivi.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = git://github.com/meta-qt5/meta-qt5.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-gplv2"]
    path = meta-gplv2
    url = git://git.yoctoproject.org/meta-gplv2
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-oic"]
	path = meta-oic
	url = http://git.yoctoproject.org/git/meta-oic.git
	branch = 1.0.1
[submodule "meta-iot-web"]
	path = meta-iot-web
	url = https://github.com/ostroproject/meta-iot-web
[submodule "meta-rvi"]
	path = meta-rvi
	url = git://github.com/GENIVI/meta-rvi.git
[submodule "meta-erlang"]
	path = meta-erlang
	url = git://github.com/joaohf/meta-erlang.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "meta-renesas-rcar-gen2"]
	path = meta-renesas-rcar-gen2
	url = https://github.com/slawr/meta-renesas-rcar-gen2.git
[submodule "meta-intel"]
	path = meta-intel
	url = git://git.yoctoproject.org/meta-intel
[submodule "meta-qcom"]
    path = meta-qcom
    url = git://git.yoctoproject.org/meta-qcom
[submodule "meta-browser"]
	path = meta-browser
	url = git://github.com/OSSystems/meta-browser.git
[submodule "meta-linaro"]
	path = meta-linaro
	url = https://git.linaro.org/openembedded/meta-linaro.git
[submodule "meta-renesas"]
	path = meta-renesas
	url = https://github.com/slawr/meta-renesas.git
[submodule "meta-flatpak"]
	path = meta-flatpak
	url = https://github.com/klihub/meta-flatpak
[submodule "meta-ivi-renesas"]
	path = meta-ivi-renesas
	url = https://github.com/GENIVI/meta-ivi-renesas.git
[submodule "meta-sdl"]
	path = meta-sdl
	url = git://github.com/phongt/meta-sdl.git
