# systemd(8) setup usde by Yocto Project
[Unit]
Description=Remote Vehicle Interaction Service
Wants=network-online.target
After=getty@tty2.service

[Service]
Environment="HOME=/opt/rvi_core"
Environment="RVI_PORT=8900"
Environment="CONFIG=/etc/opt/rvi/rvi.config"
Environment="RVI_BACKEND=38.101.164.230"

StandardOutput=journal
StandardError=journal
ExecStart=/bin/sh -c "RVI_MYIP=$(/sbin/ip route | /usr/bin/awk '/default/ { print $3 }') CONFIG=/etc/opt/rvi/rvi.config RVI_BACKEND=38.101.164.230 /opt/rvi_core/rvi_ctl -c /etc/opt/rvi/rvi.config console"
ExecStop=/opt/rvi_core/rvi_ctl stop
GuessMainPID=yes
RemainAfterExit=yes

StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=graphical.target multi-user.target
