[Unit]
Description=Genivi Software Management
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
Environment=PYTHONPATH=/usr/lib/genivi-swm/common/
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
ExecStart=/usr/bin/python /usr/lib/genivi-swm/lifecycle_manager/lifecycle_manager.py fg

[Install]
WantedBy=multi-user.target
