[Unit]
Description=Genivi SLM module_loader_ecu1
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
Environment=PYTHONPATH=/usr/lib/genivi-swm/common/
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
ExecStart=/usr/bin/python /usr/lib/genivi-swm/module_loader_ecu1/module_loader_ecu1.py fg
User=swm

[Install]
WantedBy=multi-user.target
