[Unit]
Description=Genivi SLM partition_manager
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
Environment=PYTHONPATH=/usr/lib/genivi-swm/common/
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
Environment=SLM_SWM_SIMULATION=false
ExecStart=/usr/bin/python /usr/lib/genivi-swm/partition_manager/partition_manager.py fg
User=swm

[Install]
WantedBy=multi-user.target
