[Desktop Entry]
Name=SDL Demo
Type=Application
Icon=file:///usr/bin/chromium/product_logo_128.png
Exec=/usr/bin/google-chrome file:///usr/share/smartdevicelink/generic_hmi/index.html
