[Unit]
Description=Launch cannelloni at system start

[Service]
Type=oneshot
ExecStart=/usr/bin/launch_cannelloni.sh

[Install]
WantedBy=multi-user.target
