[Desktop Entry]
Name=Climate Controls
Type=Application
Icon=file://@APPLICATION_ICON_TARGET_PATH@
Unit=@APPLICATION_UNIT@
Exec=bwrap --ro-bind / / --dev-bind /run /run --dev-bind /dev/dri/ /dev/dri --unshare-user @APPLICATION_BIN_TARGET_PATH@
