[Desktop Entry]
Name=Input Example
Type=Application
Icon=
Unit=EGLWLInputEventExample
Exec=bwrap --ro-bind / / --dev-bind /dev/dri/ /dev/dri --unshare-user --uid 128 --gid 512 /usr/bin/EGLWLInputEventExample -platform wayland
