[Desktop Entry]
Name=Mock Navigation
Type=Application
Icon=file://usr/share/gdp/hmi_icons_033115-2.png
Unit=EGLWLMockNavigation
Exec=/usr/bin/EGLWLMockNavigation -platform wayland
